* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 10vh;
    width: 90%;
    margin: auto;
    align-items: center;
}

.logo-container,
.nav-links,
.account-container {
    display: flex;
    z-index: 2;
}

.logo-container {
    flex: 2;
}

.logo {
    font-size: 28px;
}

nav {
    flex: 1;
    z-index: 2;
}

.nav-links {
    justify-content: space-evenly;
    list-style: none;
}

a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.account-container {
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
}

.account-container button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    height: 35px;
    width: 90px;
}

.account-container a {
    font-weight: 700;
}

.presentation {
    display: flex;
    height: 90vh;
    margin: auto;
    width: 90%;
}

.introduction {
    flex: 1;
}

.intro-text h3 {
    background: linear-gradient(to right, #1E90FF, #87CEEB);
    background-clip: text;
    padding: 125px 0px 30px 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text h1 {
    font-size: 56px;
    padding: 0px 0px 40px 0px;
}


.cta-podcasts {
    background: linear-gradient(to right, #E36397, #FF7F50);
    border: transparent;
    border-radius: 50px;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    height: 40px;
    width: 150px;
}

.cta-brands {
    background: linear-gradient(to right, #1E90FF, #87CEEB);    border: transparent;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    height: 40px;
    width: 150px;
    margin: 0px 0px 0px 15px;
}

.cover {
    flex: 1;
    position: relative;
}

#img-man-headphones {
    border: 10px solid white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    left: 40%;
    top: 5%;
    z-index: 4;
}

#img-women-listening {
    border: 7px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    left: 10%;
    top: 45%;
    z-index: 4;
}

#img-women-headphones {
    border: 4px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    top: 65%;
    left: 60%;
    z-index: 4;
}

.circle-outline {
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    height: 350px;
    width: 350px;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 3;
}

.circle-filled {
    border-radius: 50%;
    background: linear-gradient(to right, #E36397, #FF7F50);
    height: 350px;
    width: 350px;
    position: absolute;
    top: 27%;
    left: 35%;
    z-index: 2;
}

.sm-circle-filled {
    border-radius: 50%;
    background: linear-gradient(to right, #E36397, #FF7F50);
    height: 15px;
    width: 15px;
    position: absolute;
    top: 35%;
    left: 28.5%;
    z-index: 3;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
}