* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

header {
    background-color: rgba(0,0,0,0.8);
    height: 10vh;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
    list-style: none;
    width: 80%;
    margin: auto;
}

.nav-link {
    color: white;
    font-size: 13px;
    font-weight: 100;
    text-decoration: none;
}

.fa-apple,
.fa-search,
.fa-shopping-bag {
    transform: scale(1.5);
}

.fa-search {
    -webkit-text-stroke: 1.25px rgba(0,0,0,0.8);
}

.header-info {
    background-color: rgb(251, 251, 253);
    color: #1d1d1f;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.header-info a {
    color: rgb(0, 102, 204);
    text-decoration: none;
}

.header-info a:hover {
    text-decoration: underline;
}

.product-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 10px
}

.ipad-pro-screen {
    background-color: black;
    overflow: hidden;
}

.ipad-pro-screen img {
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 13%;
}

.ipad-pro-screen .headline-text,
.ipad-pro-screen .sub-text {
    color: white;
}

.headline-text {
    font-size: 52px;
    font-weight: 500;
    position: absolute;
}

.ipad-pro-screen .headline-text {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.iphone-screen .headline-text,
.imac-screen .headline-text {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.sub-text {
    font-size: 28px;
    font-weight: 300;
    position: absolute;
}

.ipad-pro-screen .sub-text {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.iphone-screen .sub-text,
.imac-screen .sub-text {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.iphone-screen,
.imac-screen {
    background-color: #FBFBFD;
    height: 90vh;
    overflow: hidden;
}

.imac-screen img {
    display: flex;
    width: 100%;
    transform: scale(2);
    padding-top: 8%;
}

.iphone-screen img {
    display: flex;
    width: 100%;
    transform: scale(2);
    padding-top: 10%;
}

.iphone-screen p {
    color: darkgray;
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    top: 28%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -28%);  
}

.iphone-screen .screen-links {
    top: 38%;
    left: 48%;
    transform: translate(-38%, -38%);
}

.iphone-screen .headline-text,
.iphone-screen .sub-text,
.imac-screen .headline-text,
.imac-screen .sub-text {
    color: black;
}

/* || LINKS */

.screen-links {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 25%;
    left: 48%;
    transform: translate(-48%, -25%);
}

.screen-link {
    color: rgb(0, 102, 204);
    padding-left: 30px;
    text-decoration: none;
}

.grid-links {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
}

.grid-link,
.ways-to-shop a {
    color: rgb(0, 102, 204);
}

.grid-link {
    padding: 0px 0px 0px 30px;
}

.screen-link:hover,
.grid-link:hover,
.ways-to-shop a:hover {
    color: rgb(0, 102, 204);
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80vh;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}

.grid-item {
    border: 1px solid white;;
    position: relative;
}

.grid-headline {
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.grid-subtext {
    color: white;
    font-size: 22px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 500px;
}

.wwdc21 {
    background-color: black;
    overflow: hidden;
}

.wwdc21 .grid-img {
    object-fit: contain;
    position: absolute;
    bottom: 20%;
    width: 100%;
    transform: scale(1.9);
}

.wwdc21 .grid-logo {
    position: absolute;
    top: 0%;
    transform: scale(0.25);
    width: 100%;
}

.wwdc21 .grid-subtext {
    top: 17%;
    left: 50%;
    transform: translate(-50%, -17%);
}

.wwdc21 .grid-links {
    top: 27%;
    left: 50%;
    transform: translate(-50%, -27%);
}

.iphone-12-pro .grid-subtext {
    top: 17%;
    left: 50%;
    transform: translate(-50%, -17%);
}

.iphone-12-pro .grid-note {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 24%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -24%);
}

.iphone-12-pro .grid-links {
    top: 31%;
    left: 50%;
    transform: translate(-50%, -31%);
}

.apple-watch {
    background-color: black;
}


.apple-watch .grid-img {
    position: absolute;
    bottom: 10%;
    object-fit: contain;
    width: 100%;
}

.apple-watch .grid-logo {
    position: absolute;
    top: -8%;
    transform: scale(0.2);
    width: 100%;
}

.apple-watch .grid-headline-sub {
    color: purple;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.apple-watch .grid-subtext {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.apple-watch .grid-links {
    top: 26%;
    left: 50%;
    transform: translate(-50%, -26%);
}

.credit-card {
    overflow: hidden;
}

.credit-card .grid-img {
    position: absolute;
    bottom: 25%;
    object-fit: contain;
    width: 100%;
    transform: scale(2);
}

.credit-card .grid-logo {
    position: absolute;
    top: -3%;
    transform: scale(0.2);
    width: 100%;
}


.credit-card .grid-subtext {
    color: black;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -18%);
}

.credit-card .grid-links {
    top: 32%;
    left: 50%;
    transform: translate(-50%, -32%);
}

.iphone-12-pro img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fitness {
    background-color: #FBFBFD;
    overflow: hidden;
}

.fitness .grid-img {
    position: absolute;
    bottom: -20%;
    object-fit: contain;
    width: 100%;
    height: 100%;
    transform: scale(1.8);
}

.fitness .grid-logo {
    position: absolute;
    top: 2%;
    transform: scale(0.25);
    width: 100%;
}

.fitness .grid-subtext {
    color: black;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -18%);
}

.fitness .grid-links {
    top: 28%;
    left: 50%;
    transform: translate(-50%, -28%);
}

.tv .grid-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tv .grid-logo {
    position: absolute;
    transform: scale(0.5);
    top: 8%;
    left: 40%;
}

.tv .grid-links {
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -32%);
}

footer {
    background-color: #f5f5f7;
    height: 130vh;
}

.conditions,
.hr,
.footer-links,
.footer-more {
    width: 70%;
    margin: auto;
}

.conditions {
    color: #515154;
    font-size: 12px;
    height: 60vh;
    padding: 20px 0px 0px 0px;
}

.conditions p {
    color: #B1B1B5;
    padding: 0px 0px 10px 0px;
}

.conditions a {
    color: black;
}

.conditions a:hover {
    color: black;
    text-decoration: underline;
}


.footer-links {
    justify-content: space-between;
    line-height: 25px;
    height: 55vh;
}

.footer-more {
    height: 15vh;
    font-size: 12px;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.footer-title {
    color: black;
    font-size: 14px;
}

.footer-link {
    color: #515154;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-links {
    display: flex;
}

/*
.footer-shop,
.footer-services-acct,
.footer-store,
.footer-for,
.footer-about {

}*/

.services-links,
.business-links,
.education-links,
.healthcare-links,
.government-links,
.value-links {
    padding: 0px 0px 10px 0px;
}

/*
.shop-links ul{
    
}*/


.ways-to-shop p,
.copyright,
.something-links li {
    color: #B1B1B5;
}


.peaches {
    display: flex;
    justify-content: space-between;
}

.something-links ul {
    display: flex;
}

.something-links a {
    color: black;
    padding: 10px;
}

.hr {
    border-top: 1px solid #B1B1B5;
    padding: 0px 0px 0px 0px;
}

.footer-more .hr{
    width: 100%;
}
