* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

header {
    height: 10vh;
}

.nav-links {
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
    list-style: none;
}

.nav-link {
    color: white;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
}

.apple-logo {
    background-color: purple;
    background-size: 16px 44px;
    background-image: url("https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__cxwwnrj0urau_large.svg");
}

.search-icon {
    background-color: purple;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__fca9mfoh8a2q_large.svg");
}

.header-info {
    background-color: rgb(251, 251, 253);
    color: #1d1d1f;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.header-info a {
    color: rgb(0, 102, 204);
    text-decoration: none;
}

.header-info a:hover {
    text-decoration: underline;
}

.ipad-pro-screen {
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 95vh;
}

.ipad-pro-screen .image {
    width: 100%;
}

.ipad-pro-screen .headline-text,
.ipad-pro-screen .sub-text {
    color: white;
}

.headline-text {
    font-size: 52px;
    font-weight: 500;
    position: absolute;
}

.ipad-pro-screen .headline-text {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.iphone-screen .headline-text,
.imac-screen .headline-text {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -13%);
}

.sub-text {
    font-size: 28px;
    font-weight: 300;
    position: absolute;
}

.ipad-pro-screen .sub-text {
    top: 23%;
    left: 50%;
    transform: translate(-50%, -23%);
}

.iphone-screen .sub-text,
.imac-screen .sub-text {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.screen-links {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 29%;
    left: 48%;
    transform: translate(-48%, -29%);
}

.screen-link {
    color: rgb(0, 102, 204);
    padding-left: 30px;
    text-decoration: none;
}

.iphone-screen,
.imac-screen {
    background-color: purple;
    position: relative;
    height: 90vh;
}

.crop {
    text-indent: -800px;
    width: 1440px;
    overflow: hidden;
}

.imac {
    width: 1440px;
    height: 700px;
    object-fit: cover;
}


.iphone-screen p {
    color: darkgray;
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    top: 28%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -28%);  
}

.iphone-screen .screen-links {
    top: 38%;
    left: 48%;
    transform: translate(-38%, -38%);
}

.iphone-screen .headline-text,
.iphone-screen .sub-text,
.imac-screen .headline-text,
.imac-screen .sub-text {
    color: black;
}




.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80vh;
    grid-gap: 10px;
    background-color: saddlebrown;
    padding: 10px;

}

.grid-item {
    background-color: rosybrown;
    border: 1px solid rgb(80, 79, 79);
    position: relative;
}


.apple-watch img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.grid-headline {
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.grid-subtext {
    color: white;
    font-size: 22px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 500px;
}

.grid-links {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
}

.grid-link {
    color: rgb(0, 102, 204);
}

.wwdc21 .grid-subtext {
    top: 17%;
    left: 50%;
    transform: translate(-50%, -17%);
}

.wwdc21 .grid-links {
    top: 27%;
    left: 50%;
    transform: translate(-50%, -27%);
}


.iphone-12-pro .grid-subtext {
    top: 17%;
    left: 50%;
    transform: translate(-50%, -17%);
}

.iphone-12-pro .grid-note {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 24%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -24%);
}

.iphone-12-pro .grid-links {
    top: 31%;
    left: 50%;
    transform: translate(-50%, -31%);
}

.apple-watch .grid-headline-sub {
    color: purple;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.apple-watch .grid-subtext {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.apple-watch .grid-links {
    top: 26%;
    left: 50%;
    transform: translate(-50%, -26%);
}

.credit-card .grid-subtext {
    color: black;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -18%);
}

.credit-card .grid-links {
    top: 32%;
    left: 50%;
    transform: translate(-50%, -32%);
}


footer {
    /* background-color: #f5f5f7; */
    background-color: darkkhaki;
    height: 130vh;
}

.conditions,
.hr,
.footer-links,
.footer-more {
    width: 90%;
    margin: auto;
}

.conditions {
    color: #515154;
    font-size: 12px;
    height: 60vh;
}

.conditions p {
    padding: 0px 0px 10px 0px;
}

.footer-links {
    justify-content: space-between;
    line-height: 25px;
    height: 55vh;
}

.footer-more {
    height: 15vh;
    font-size: 12px;
}

ul {
    list-style: none;
}

a {
    color: darkgreen;
    text-decoration: none;
}

.footer-title {
    color: black;
    font-size: 14px;
}

.footer-link {
    color: #515154;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-links {
    display: flex;
}

/*
.footer-shop,
.footer-services-acct,
.footer-store,
.footer-for,
.footer-about {

}*/

.services-links,
.business-links,
.education-links,
.healthcare-links,
.government-links,
.value-links {
    padding: 0px 0px 10px 0px;
}

/*
.shop-links ul{
    
}*/



.peaches {
    display: flex;
    justify-content: space-between;
}

.something-links ul {
    display: flex;
}

.hr {
    border-top: 1px solid purple;
    padding: 0px 0px 0px 0px;
}

.footer-more .hr{
    width: 100%;
}